.form-contact {
	padding-bottom: 2rem;
}

.form-contact div {
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.form-contact div .form-submit {
	display: block;
}

.form-contact div .form-submit p {
	padding: 2rem;
	color: #EDF0F1;
}

.form-contact div .form-submit {
	text-align: center;
}

.form-contact label {
	color: #EDF0F1;
	padding-bottom: 10px;
	display: block;
}

.form-contact input {
	padding: 10px;
	border-color: #d0cdbc;
	margin-bottom: 1.875em;
	background-color: #272727;
    border: 1px solid #777777;
    border-radius: 4px;
    color: #d0cdbc;
    padding: 8px 10px;
    width: 100%;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: border 0.6s ease;
}

.form-contact textarea {
	padding: 10px;
	border-color: #d0cdbc;
	margin-bottom: 1.875em;
	background-color: #272727;
    border: 1px solid #777777;
    border-radius: 4px;
    color: #d0cdbc;
    padding: 8px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: border 0.6s ease;
}

.form-contact input:focus, .form-contact textarea:focus {
  background-color: #272727;
  border: 1px solid #C4A17B;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}


.btn-cafe {
	text-transform: uppercase;
	font-weight: 500;
  background-color: #C4A17B;
  border-color: #C4A17B;
  color: #EDF0F1;
  opacity: 1;
  line-height: 1em;
  position: relative;
  padding: 14px 40px;
  letter-spacing: 2px;
}
.btn-cafe i {
  position: absolute;
  top: 14px;
  right: 0.25em;
  opacity: 0;
}
.btn-cafe:hover, .btn-cafe:focus {
  background-color: #a27e53;
  border-color: #a27e53;
  color: #EDF0F1;
  padding: 14px 50px 14px 30px;
}
.btn-cafe:hover i, .btn-cafe:focus i {
  right: 26px;
  opacity: 1;
}

.btn-cafe, .btn-cafe i {
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.btn-cafe.btn-outline {
	text-transform: uppercase;
	font-weight: 500;
  background-color: transparent;
  border-color: #EDF0F1;
  border: 1px solid;
  color: #EDF0F1;
  opacity: 1;
  line-height: 1em;
  position: relative;
  padding: 14px 40px;
  letter-spacing: 2px;
}
.btn-cafe i {
  position: absolute;
  top: 14px;
  right: 0.25em;
  opacity: 0;
}
.btn-cafe.btn-outline:hover, .btn-cafe.btn-outline:focus {
  background-color: transparent;
  border-color: #a27e53;
  color: #C4A17B;
  padding: 14px 50px 14px 30px;
}
.btn-cafe:hover i, .btn-cafe:focus i {
  right: 26px;
  opacity: 1;
}